<% layout('./layout/page.ejs') %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счетчик: <%= counter %></p>
<% if(user) {%>
    <h3>Добро пожаловать в donut</h3>
    <% }else{ %>
        <h3>Вступай в сообщество любителей donut</h3>
    <% } %>